fastapi
uvicorn[standard]
sqlalchemy

alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pandas
numpy
prophet
lightgbm
scikit-learn
pydantic
pydantic-settings
python-dotenv
aiofiles
bcrypt
